<div class="container">
    <div class="row">
        <div class="col-lg">
            <div class="">
                <h1>Contact Form</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg mt-5">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Name</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Emter Your Name">
              </div>
            
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleFormControlInput2" placeholder="name@example.com">
              </div>
              <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
              <div class="button mt-5">
                <button type="button" class="btn btn-secondary" style="width: 200px; height: 50px; border-radius: 10px; font-size: 20px;">Submit</button>
              </div>
        </div>
    </div>
</div>
