<div class="container text-center mt-5 shadow border pt-3 pb-3">
    <button (click)="downloadFile()" type="button" class="btn btn-primary" style="width: 300px; height: 60px; font-size: 20px;">Download Resume Pdf</button>
    <div class="row mt-5">
        <div class="col-lg pt-4">

            <div class="text-center">
                <a href="https://github.com/zainali-balti/LandingPageCloudKitchen" target="_blank">landing Page of CloudKitchens Using Angular</a>
            </div>
            <div class="text-center">
                <a href="https://github.com/zainali-balti/Angular-Blog" target="_blank">Angular Blog Landing Page Using Angular</a>
            </div>
            <div class="text-center">
                <a href="https://github.com/zainali-balti/FoodStore" target="_blank">Food Store Landing Page Using Angular and Backend Using Java SpringBoot</a>
            </div>
            <div class="text-center">
                <a href="https://github.com/zainali-balti/Car-Rental-Project" target="_blank">Car Rental project Using Java And SpringBoot</a>
            </div>
            <div class="text-center">
                <a href="https://github.com/zainali-balti/Car-Rental-Swings" target="_blank">Car Rental project Using Java And Swings</a>
            </div>
            <div class="text-center">
                <a href="https://github.com/zainali-balti?tab=repositories" target="_blank">My Complete Work Which is Uploaded on GitHub Account</a>
            </div>
        </div>
    </div>
   

</div>